
header {
    position: absolute;
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    top: 0%;
    bottom: 89.49%;
    background: #131313;
}

.header_text {
    font-family: 'Nunito Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 92px;
    margin-right: 90px;
    margin-top: 24px;
    margin-bottom: 22px;
}

.header_text a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 47.09px;
    transition: .2s;
}

.header_text a:hover {
    color: #E3B873;
}

.header_text a:nth-of-type(-n+7) {
    text-decoration: none;
}

.header_text a:first-of-type {
    margin-right: 95.47px;
}

.header_text a:nth-of-type(8) {
    margin-left: 67.36px;
}

.button {
    background: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width: 161px;
    height: 37px;
    margin-left: 45px;
    position: relative;
    bottom: 2px;
    border: 0;
}

.button__text {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.secion_1{
    position: absolute;
    top: 10.51%;
    bottom: 0%;
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
}

.secion_1__background {
    background: rgba(0, 0, 0, 0.7); 
    position: absolute;
    top: 0px;
    bottom: 0px;
    max-width: 1440px;
    width: 100vw;
    height: 707px;
} 

.secion_1__text {
    position: absolute;
    height: 305px;
    left: 135px;
    top: 164px;
}

.secion_1__text h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Rostov-on-Don {
    color: #E3B873;
}

.secion_1__text p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    position: relative;
    bottom: 8px;
}

.button__secion_1__b1 {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width: 207px;
    height: 51px;
    margin-right: 20px;
    position: relative;
    bottom: 2px;
    border: 0; 
}

.button__secion_1__b2 {
    background: #fff0;
    width: 207px;
    height: 51px;
    position: relative;
    bottom: 2px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px; 
}